<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>XR demo page</h1>
            <hr>
            <p>This is an XR Australia static website demo based on GitLab pages. It uses the Jekyll Creative theme.</p>
<!--            <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a> -->
        </div>
    </div>
</header>
